[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
"autopep8" = "*"

[requires]
python_version = "3.6.5"
