{% load static %}
<!DOCTYPE html>
<html lang="en">

<title>Webcompat Next Bug Oracle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Decisions are tiring.  Just push the button.">
<link rel="stylesheet" type="text/css" href="{% static 'nbo/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
    <div class="animate-opacity">
        <div class="center">
            <button class="animate-top" onclick="location.href='{% url 'nbo:result' %}'">GET NEXT BUG!</button>
            <hr>
            <p>Webcompat Oracle loves you...</p>
        </div>
        <div class="fineprint">
            Go to
            <a href="https://www.webcompat.com" target="_blank">webcompat.com</a>.
        </div>
    </div>
</body>

</html>